<div class="row">
    <div class="col-12">
        <h2>GIE as Inside Information Platform (IIP) for Disclosure of Inside Information under REMIT</h2>
        <p>The European Union Agency for the Cooperation of Energy Regulators (ACER) confirmed Gas Infrastructure Europe
           AISBL (GIE) as Inside Information Platform (IIP) for the Disclosure of Inside Information under REMIT.<br/>
           GIE IIP offers a pan-European coverage for UMM (Urgent Market Message) reporting by TSO, SSO and LSO who
           consider themselves to be a Market Participant (active on the wholesale market for energy)</p>
        <p>GIE as IIP is listed the ACER REMIT Portal under the ‘Central Transparency Platforms’ category at
           <a href="https://www.acer-remit.eu/portal/list-inside-platforms" target="_blank" rel="noreferrer">https://www.acer-remit.eu/portal/list-inside-platforms</a>.</p>
        <p>A listing of operators active on the GIE IIP platform is available below. Data inquiries on this can be
           addressed to <a href="mailto:transparency@gie.eu?subject=IIP Data inquiry">transparency@gie.eu</a>.</p>
        {#await promise}
            <div class="new-update clearfix">
                <i class="fas fa-sync fa-spin"></i>
            </div>
        {:then promise}
            {#each Object.entries(promise) as [company_type, continents] (company_type)}
                <div class="card">
                    <div class="card-header">
                        <span class="company_type">contributing {company_type}</span>
                    </div>
                    <div class="card-body">
                        {#each Object.entries(continents) as [continent, countries] (continent)}
                            {#each Object.entries(countries) as [country, companies] (country)}
                            <span class="country">{country}</span>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Logo</th>
                                        <th>Name</th>
                                        <th style="width: 25px">Website</th>
                                        <th style="width: 25px">Transparency Template</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {#each companies as company}
                                        <tr>
                                            <td><img src="data:image/png;base64,{company.image}" alt="{company.name}" /></td>
                                            <td>{company.name}</td>
                                            <td>
                                                {#if company.publication_link.length > 0}
                                                    <a href="{company.publication_link}" target="_blank" rel="noreferrer">
                                                        <i class="fa-duotone fa-arrow-up-right-from-square"></i>
                                                    </a>
                                                {/if}
                                            </td>
                                            <td>
                                                {#if company.transparency_template.length > 0}
                                                    <a href="{company.transparency_template}" target="_blank" rel="noreferrer">
                                                        <i class="fa-duotone fa-arrow-up-right-from-square"></i>
                                                    </a>
                                                {/if}
                                            </td>
                                        </tr>
                                    {/each}
                                    </tbody>
                                </table>
                            {/each}
                        {/each}
                    </div>
                </div>
            {/each}
        {/await}
    </div>
</div>
<script>
    import {onMount} from "svelte";

    //const apiURL = 'https://cors-anywhere.herokuapp.com/https://agsi.gie.eu/api/data/tree';
    const about = document.getElementById('about');
    const apiURL = about.getAttribute('data-url') + '/about';
    let promise = Promise.resolve([]);

    console.log(apiURL);

    async function getData() {
        const response = await self.fetch(apiURL, {
            method: 'GET'
        });
        return response.json();
    }

    onMount(async function () {
        promise = getData();
    });
</script>
