<div id="info">
    <div class="row">
    <div class="col-sm-8">
        <h1>API Guide</h1>
        <p>You can use the EIC table below together with the <a href="{pdf_url}" target="_blank">{pdf_title}</a> to get the Historical REST API Data.</p>
        <div class="alert alert-info" role="alert">
            {#if $api_exp}
                <span class="float-end">(Expires on: {$api_exp})</span>
            {:else}
                <span class="float-end">(never expires)</span>
            {/if}
            <strong>Your key: {$api_key}</strong>
            <br>
            <code class="ng-binding">curl <i>&lt;url&gt;</i> --header "x-key: {$api_key}"</code>
        </div>

        <p>Please note that all SSO / LSO accounts already using GIE as RRM (Registered Reporting Mechanism) for REMIT reporting towards ACER or for AGSI / ALSI publication will already find an API key available after login. These accounts are also already subscribed to our IT mailing lists (unless you have opted out).</p>
        <h4>API documentation</h4>
        <p>The <a href="{pdf_url}" target="_blank">{pdf_title}</a> provides examples and guidance on how to use the service.</p>
        <h4>API URLs</h4>
        <dl>
            <dt>https://iip.gie.eu/api</dt>
            <dd>Full UMM list<br/>
                Params:
                <dl>
                    <dt>reportingEntity</dt>
                    <dd>name/EIC - get UMMs by market participant. Name can be partial</dd>
                    <dt>reportingEntityType</dt>
                    <dd>SSO/LSO/TSO - get UMMs by market participant type</dd>
                    <dt>messageId</dt>
                    <dd>Get specific UMM by messageId</dd>
                    <dt>message</dt>
                    <dd>planned/unplanned/other/gas/withdrawal/injection</dd>
                    <dt>from</dt>
                    <dd>Get UMMs with a specific start date</dd>
                    <dt>to</dt>
                    <dd>Get UMMs with a specific end date</dd>
                    <dt>duration</dt>
                    <dd>Get UMMs with a duration time</dd>
                    <dt>direction</dt>
                    <dd>entry/exit - get UMMs with a specific direction</dd>
                    <dt>status</dt>
                    <dd>active/inactive/dismissed - get UMMs with a specific status</dd>
                    <dt>marketParticipant</dt>
                    <dd>name/EIC - get UMMs by market participant. Name can be partial</dd>
                    <dt>balancingZone</dt>
                    <dd>name/EIC - get UMMs by balancing zone. Name can be partial</dd>
                </dl>
            </dd>
        </dl>
    </div>
    <div class="col-sm-4">
        <button on:click|preventDefault={onLogout} class="btn btn-primary float-end btn-sm">Logout</button>
        <h3>
            Account settings:
        </h3>

        <form id="update" onsubmit="event.preventDefault();" class="form-horizontal">
            <div class="input-group">
                <span class="input-group-addon required"><i class="fa-solid fa-user"></i></span>
                <input id="first_name" type="text" class="form-control" name="first_name" value="{$first_name}" placeholder="first name">
                <input id="last_name" type="text" class="form-control" name="last_name" value="{$last_name}" placeholder="last name">
            </div>

            <div class="input-group">
                <span class="input-group-addon required"><i class="fa-solid fa-envelopes"></i></span>
                <input id="email" type="text" class="form-control" name="email" value="{$email}" placeholder="email">
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="fa-solid fa-lock"></i></span>
                <input id="password" type="password" class="form-control" name="password" placeholder="password">
                <div class="alert alert-danger small form-control" style="font-size: small; padding: 2px 10px;" role="alert">
                    <i class="fa-solid fa-triangle-exclamation"></i> Only enter a password if you want to change the current password.
                </div>
            </div>

            {#if isWebAccount()}
                <div class="input-group">
                    <span class="input-group-addon required"><i class="fa-solid fa-buildings"></i></span>
                    <input id="company" type="text" class="form-control" name="company" placeholder="company" value="{$company}">
                </div>
            {/if}

            <div class="input-group">
                <span class="input-group-addon"><i class="fa-solid fa-phone"></i></span>
                <input id="telephone" type="text" class="form-control" name="telephone" placeholder="telephone" value="{$telephone}">
            </div>

            <div style="margin-bottom: 15px" class="input-group">
                <span class="input-group-addon required"><i class="fa-solid fa-arrow-down-from-dotted-line"></i></span>
                <div class="form-control">Access to:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label>
                        <input type="radio" class="" name="api_access" bind:group={$api_access} value={3}> IIP&nbsp;&nbsp;
                    </label>
                    <label>
                        <input type="radio" class="" name="api_access" bind:group={$api_access} value={0}> All platforms (IIP, ALSI and AGSI)
                    </label>
                </div>
            </div>

            <div style="margin-bottom: 15px" class="input-group small">
                <input id="mailing" type="checkbox" class="" name="mailing" bind:checked={$mail_api}> I would like to <strong>subscribe to the API Service mailing list</strong> in order to receive Service Announcements and updates
            </div>
            <div class="form-group">
                {#if updated === 1}
                    <div class="alert alert-success" transition:fade={{duration:150}}>Your account has been updated</div>
                {:else if updated === 2 }
                    <div class="alert alert-danger" transition:fade={{duration:150}}>Something went wrong. Please email api@gie.eu</div>
                {:else if updated.length > 0 }
                    <div class="alert alert-danger" transition:fade={{duration:150}}>{updated}</div>
                {/if}
                <div class="btn-group btn-group-sm" style="text-align: center">
                    <button id="btn-update" class="btn btn-primary" on:click|preventDefault={onUpdate}>Update</button>
                    {#if isWebAccount()}
                        <button id="btn-delete" class="btn btn-danger" on:click|preventDefault={onCancel}>Cancel my account</button>
                    {/if}
                </div>
            </div>
            <div class="alert small text-danger">
                {#if isWebAccount()}
                    Your data will be stored and securely handled as long as your account remains active. To cancel your account fill in your email and password and click the red 'Cancel my account' button.
                {:else}
                    <strong>Please send an email to api@gie.eu if you want to delete your account as this account is combined with your REMIT account.</strong>
                {/if}
            </div>
        </form>
    </div><!-- /.col-lg-6 -->
</div>
</div>

<script>
    import { token, slug, first_name, last_name, email, api_key, api_exp, role, mail_api, api_access, company, telephone } from './components/stores.js';
    import {onMount} from "svelte";
    import { fade } from 'svelte/transition';
    import moment from "moment";

    let pdf_url = 'https://www.gie.eu/transparency-platform/GIE_API_documentation_v013.pdf',
        pdf_title = 'API User Manual and technical documentation V13 (PDF, 1.32MB)';

    const account = document.getElementById('account');
    const url = account.getAttribute('data-url'),
        params = JSON.parse(account.getAttribute('data-params'));
    let table,
        dataURL = url + '/about',
        logoutURL = url + '/logout',
        updateURL = url + '/update',
        cancelURL = url + '/delete',
        updated = 0;
    $token = params.access_token;
    $slug = params.slug;
    $first_name = params.first_name;
    $last_name = params.last_name;
    $email = params.email;
    $api_key = params.api_key;
    $api_exp = params.api_exp;
    $role = parseInt(params.role);
    $mail_api = parseInt(params.mail_api);
    $api_access = parseInt(params.api_access);
    $company = params.company;
    $telephone = params.telephone;


    async function onLogout(e) {
        let returnData;
        const response = await fetch(
            //proxy +
            logoutURL, {
                method: 'POST',
            });
        returnData = (await response.json());

        if (returnData.success) {
            window.location.replace("/account");
        }
    }

    function isWebAccount() {
        return ($role === 4);
    }


    async function onUpdate(e) {
        const data = jQuery('form#update').serializeArray();

        //Call login with http and get token info
        let returnData;
        const response = await fetch(
            //proxy +
            updateURL, {
                method: 'POST',
                body: JSON.stringify(data),
            });
        returnData = (await response.json());
        if (returnData.success) {
            updated = 1;
        } else {
            updated = 2;
        }
    }

    async function onCancel(e) {
        const data = jQuery('form#update').serializeArray();

        //Call login with http and get token info
        let returnData;
        const response = await fetch(
            //proxy +
            cancelURL, {
                method: 'POST',
                body: JSON.stringify(data),
            });
        returnData = (await response.json());
        if (returnData.success) {
            window.location.replace("/account");
        } else {
            updated = returnData.error;
        }
    }
</script>
