 <div class="table-controls">
    <div class="left">
        <button on:click={filterUMMType} class="btn btn-xs" data-type="0" id="all-types"><i class="fas fa-copy"></i> All UMM types</button>
        <button on:click={filterUMMType} class="btn btn-xs" data-type="2"><i class="fas fa-house-damage"></i> Unavailabilities of Gas Facilities</button>
        <button on:click={filterUMMType} class="btn btn-xs" data-type="3"><i class="fas fa-info-square"></i> Other Market Information</button>
    </div>
    <div class="right">
        <button on:click={tabulatorDownloadFile} class="btn" data-type="csv"><i class="fal fa-download"></i> CSV</button>
        <button on:click={tabulatorDownloadFile} class="btn" data-type="json"><i class="fal fa-download"></i> JSON</button>
        <button on:click={tabulatorDownloadFile} class="btn" data-type="xlsx"><i class="fal fa-download"></i> XLSX</button>
        <!--<button on:click={tabulatorDownloadFile} class="btn" data-type="pdf"><i class="fal fa-download"></i> PDF</button>-->
    </div>
</div>
 <div class="legend">
     <div class="active">Active UMM</div>
     <div class="inactive">Inactive UMM</div>
     <div class="dismissed">Dismissed UMM</div>
 </div>
<div id="dataTable"></div>
<div class="table-controls">
    <div class="left">
        <button on:click={clearAll} class="btn btn-xs" data-type="3"><i class="fas fa-times"></i> Clear Filters/Sorting</button>
    </div>
    <div class="right">
    </div>
</div>

<NotificationDisplay/>
<script>
    import {onMount} from "svelte";
    import {NotificationDisplay, notifier} from "@beyonk/svelte-notifications";

    const apiURL = document.getElementById('main').getAttribute('data-url');
    const newsURL = document.getElementById('main').getAttribute('data-url') + '/news';
    let reports = [],
        serviceAnnouncements = [],
        table
    ;

    function clearAll(e) {
        e.preventDefault();

        let elements = document.querySelectorAll(".btn.selected"),
            elI = 0,
            elLength = elements.length;
        for (; elI < elLength; elI++) {
            elements[elI].className = elements[elI].className.replace(/\b selected\b/, "");
        }

        document.getElementById('all-types').className += " " + 'selected';
        table.clearSort(true);
        table.clearFilter(true);
        table.redraw(true);
    }

    function tabulatorDownloadFile(e) {
        e.preventDefault();
        let target = e.target,
            typeVal = target.getAttribute('data-type'),
            options = {},
            date = (new Date()).toISOString().slice(0, 19).replace(/-/g, "/"),
            title = 'UrgentMarketMessage_GIE_' + date
            ;
        switch (typeVal) {
            case 'csv':
                break;
            case 'json':
                break;
            case 'xlsx':
                options = {
                    sheetName: "UMM - GIE",
                };
                break;
            case 'pdf':
                options = {
                    orientation:"landscape", //set page orientation to portrait
                    title:"Urgent Market Messages - Gas Infrastructure Europe", //add title to report
                    jsPDF: {
                        unit: "in",
                        format: [11.7, 16.5],
                    }
                };
                break;
            case 'html':
                options = {
                    style:true,
                };
                break;
            default:
                title = null;
        }
        //table.downloadToTab(typeVal, title + '.' + typeVal, options);
        table.download(typeVal, title + '.' + typeVal, options);
    }

    function filterUMMType(e) {
        e.preventDefault();
        let target = e.target,
            typeVal = target.getAttribute('data-type'),
            filter = '',
            currentFilters = table.getFilters(),
            i = 0,
            currentFiltersLength = currentFilters.length;
        switch(typeVal) {
            case '2':
                filter = 'Gas';
                break;
            case '3':
                filter = 'Other Market Information';
                break;
            case '0':
                filter = 'none';
                break;
        }
        if(filter === 'none') {
            //remove filter on message.reportType
            for(; i < currentFiltersLength; i++) {
                if(currentFilters[i].field === 'message.reportType') {
                    table.removeFilter(currentFilters[i].field, currentFilters[i].type, currentFilters[i].value);
                }
            }
        } else {
            table.setFilter("message.reportType", "=", filter);
        }

        let elements = document.querySelectorAll(".btn.selected"),
            elI = 0,
            elLength = elements.length;
        for (; elI < elLength; elI++) {
            elements[elI].className = elements[elI].className.replace(/\b selected\b/, "");
        }

        let arr = target.className.split(" ");
        if (arr.indexOf('selected') === -1) {
            target.className += " " + 'selected';
        }

        table.redraw(true);
    }

    async function getData() {
        const response_news = await fetch(newsURL, {
            method: 'GET'
        });
        serviceAnnouncements = await response_news.json();
/*
        const response_data = await fetch(apiURL, {
            method: 'GET'
        });
        reports = await response_data.json();*/
    }

    onMount(async function () {
        await notifier.info('Use commas to search for multiple values', 7000)
        await getData();
        //console.table(reports);
        document.getElementById('loadedOn').innerText = (new Date()).toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ") + ' UTC';
        let sa = serviceAnnouncements[0];
        document.getElementById('sa_slide').innerHTML = '<a href="/news/' + sa.url + '"><strong>' + sa.start_at.slice(0, 10) + '</strong>&nbsp;-&nbsp;' + sa.title + '</a>';

        // Enable pusher logging - don't include this in production
        //console.log('pusher');
        //Pusher.logToConsole = true;

        let pusher = new Pusher('d523c83e5c1bb5c4be5f', {
            cluster: 'eu'
        });

        let channel = pusher.subscribe('iip-channel');
        let i = 0;
        channel.bind('new-umm', async function (no_data) {
            if (i === 0) {
                i++;
                //await getData();
                //reports = reports.concat([]);

                document.getElementById('loadedOn').innerText = (new Date()).toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ") + ' UTC';
                table.setData();
                await notifier.success('New Urgent Market Messages received', 5000)
            }
        });

        function customHeaderFilter(headerValue, rowValue, rowData, filterParams) {
            headerValue = headerValue.toLowerCase();
            //headerValue - the value of the header filter element
            //rowValue - the value of the column in this row
            //rowData - the data for the row being filtered
            //filterParams - params object passed to the headerFilterFuncParams property
            //console.log(headerValue, rowValue, rowData, filterParams);
            if (headerValue.length > 0) {
                if (filterParams.type === 'messageId') {
                    //message id filter
                    let values = headerValue.split(','),
                        returnValue;
                    let i = 0, count = values.length;
                    for (; i < count; i++) {
                        let value = values[i].trim();
                        if (value === 'planned' || value === 'unplanned') {
                            returnValue = false;
                            if (rowValue.unavailabilityType === null) {
                                returnValue = false;
                            } else {
                                //strict comparison
                                returnValue = (rowValue.unavailabilityType.toLowerCase() === value);
                            }
                        } else {
                            returnValue = (rowData.messageString.toLowerCase().indexOf(value) >= 0);
                        }
                    }
                    return returnValue;
                    //return (rowValue.messageId.toLowerCase().indexOf(headerValue) >= 0);
                } else if (
                    filterParams.type === 'marketParticipant' ||
                    filterParams.type === 'asset' ||
                    filterParams.type === 'balancingZone' //||
                ) {
                    //market participant, asset filter
                    let values = headerValue.split(','), stringType = filterParams.type + 'String';
                    let i = 0, count = values.length;
                    for (; i < count; i++) {
                        let value = values[i].trim();
                        if (value.length === 0) continue;
                        if (rowData[stringType].toLowerCase().indexOf(value) >= 0) {
                            return true;
                        }
                    }
                }
                return false;
            }
            return true; //must return a boolean, true if it passes the filter.
        }

        let nullAccessor = function (value, data, type, params, column, row) {
            return (value === null) ? '' : value;
        }
        let reportTypeAccessor = function (value, data, type, params, column, row) {
            return (value !== undefined && value.toLowerCase() === 'gas') ? 'Unavailability of Gas Facilities' : value; //return the new value for the cell data.
        }
        let numberFormatAccessor = function (value, data, type, params, column, row) {
            return Math.round(value);
        }
        let arrayAccessor = function (value, data, type, params, column, row) {
            let i = 0,
                bzLength = value.length,
                returnString = [];
            for (; i < bzLength; i++) {
                returnString.push(value[i].code + ' ' + value[i].name);
            }
            return returnString.join(' // '); //return the new value for the cell data.
        }

        table = new Tabulator('#dataTable', {
            layout: "fitColumns",
            maxHeight: "100%",

            dataTree: true,
            dataTreeElementColumn: "message", //insert the collapse/expand toggle element in the name column
            dataTreeChildField: "prev", //look for the child row data array in the childRows field
            dataTreeChildIndent: 5, //indent child rows by 15 px
            dataTreeCollapseElement: "<i class='fas fa-minus-circle'></i>", //fontawesome toggle icon
            dataTreeExpandElement: "<i class='fas fa-plus-circle'></i>", //fontawesome toggle icon
            dataTreeBranchElement: true, //hide branch element
            dataTreeFilter: false, //disable child row filtering
            dataTreeSort: false, //disable child row sorting
            initialSort:[
                {
                    column: "published",
                    dir: "desc"
                }, //sort by this first
            ],
            persistence: {
                sort: true,
                filter: true,
                //columns: true,
                size: true,
                page: true,
            },
            persistenceID: "indexPersistence",
            downloadConfig: {
                columnHeaders: true, //do not include column headers in downloaded table
                columnGroups: false, //do not include column groups in column headers for downloaded table
                rowGroups: false, //do not include row groups in downloaded table
                columnCalcs: false, //do not include column calcs in downloaded table
                dataTree: false, //do not include data tree in downloaded table
            },

            filterMode:"remote", //send filter data to the server instead of processing locally
            pagination:"true",
            paginationMode: "remote",
            paginationSize: 50, // this option can take any positive integer value
            //paginationSizeSelector: [10, 15, 30, 50, 100, 300],
            ajaxURL: apiURL, //set url for ajax request
            ajaxParams:{}, //set any standard parameters to pass with the request
            /*ajaxResponse: function(url, params, response){
                //url - the URL of the request
                //params - the parameters passed with the request
                //response - the JSON object returned in the body of the response.

                return response.data; //return the tableData property of a response json object
            },*/

            columns: [ //Define Table Columns
                {
                    title: "Message ID",
                    field: "message.messageId",
                    visible: false,
                    download: true,
                    resizable: false,
                },
                {
                    title: "Publication Date/Time (UTC)",
                    field: "published",
                    visible: false,
                    download: true,
                    resizable: false,
                },
                {
                    title: "Type of Unavailability",
                    field: "message.reportType",
                    visible: false,
                    download: true,
                    resizable: false,
                    accessorParams: {},
                    accessor: reportTypeAccessor,
                },
                {
                    title: "Type of Event",
                    field: "message.messageType",
                    visible: false,
                    download: true,
                    resizable: false,
                    accessorParams: {},
                    accessor: nullAccessor,
                },
                {
                    title: "Event Status",
                    field: "status",
                    visible: false,
                    download: true,
                    resizable: false,
                    accessorParams: {},
                    accessor: nullAccessor,
                },
                {
                    title: "Event Start (UTC)",
                    field: "from",
                    visible: false,
                    download: true,
                    resizable: false,
                    accessorParams: {},
                    accessor: nullAccessor,
                },
                {
                    title: "Event Stop (UTC)",
                    field: "to",
                    visible: false,
                    resizable: false,
                    download: true,
                    accessorParams: {},
                    accessor: nullAccessor,
                },
                {
                    title: "Affected Asset or Unit Code",
                    field: "asset.code",
                    visible: false,
                    download: true,
                    resizable: false,
                    accessorParams: {},
                    accessor: nullAccessor,
                },
                {
                    title: "Affected Asset or Unit",
                    field: "asset.name",
                    visible: false,
                    download: true,
                    resizable: false,
                    accessorParams: {},
                    accessor: nullAccessor,
                },
                {
                    title: "Direction",
                    field: "direction",
                    visible: false,
                    download: true,
                    resizable: false,
                    accessorParams: {},
                    accessor: nullAccessor,
                },
                {
                    title: "Unit of Measurement",
                    field: "unavailable.unit",
                    visible: false,
                    download: true,
                    resizable: false,
                    accessorParams: {},
                    accessor: nullAccessor,
                },
                {
                    title: "Unavailable Capacity",
                    field: "unavailable.capacity",
                    visible: false,
                    download: true,
                    resizable: false,
                    accessorParams: {},
                    accessor: numberFormatAccessor,
                },
                {
                    title: "Available Capacity",
                    field: "available.capacity",
                    visible: false,
                    download: true,
                    resizable: false,
                    accessorParams: {},
                    accessor: numberFormatAccessor,
                },
                {
                    title: "Technical Capacity",
                    field: "technical.capacity",
                    visible: false,
                    download: true,
                    resizable: false,
                    accessorParams: {},
                    accessor: numberFormatAccessor,
                },
                {
                    title: "Reason for the Unavailability",
                    field: "unavailabilityReason",
                    visible: false,
                    download: true,
                    resizable: false,
                },
                {
                    title: "Remarks",
                    field: "remarks",
                    visible: false,
                    download: true,
                    resizable: false,
                },
                {
                    title: "<strong>Message ID</strong><br/>Type of Unavailability<br/>Type of Event",
                    field: "message",
                    download: false,
                    resizable: false,
                    //frozen:true,
                    minWidth: 280,
                    headerSort: false,
                    headerFilter: "input",
                    headerFilterLiveFilter: false,
                    headerFilterFunc: customHeaderFilter,
                    headerFilterFuncParams: {type: "messageId"},
                    variableHeight: false,
                    headerVertical: false,
                    //responsive: 0,
                    formatter: function (cell, formatterParams, onRendered) {
                        let message = cell.getValue();
                        let returnMessage = '<a href="/details/' + message.messageId + '"><i class="fal fa-file right"></i><strong>' + message.messageId + '</strong></a><br/>';
                        //let returnMessage = '<i class="fal fa-file right"></i><strong>' + message.messageId + '</strong><br/>';
                        if (message.messageType !== null) {
                            returnMessage += message.messageType + '<br/>';
                        }
                        returnMessage += '<span class="text-muted">';
                        if (message.messageType !== null) {
                            returnMessage += message.unavailabilityType + ' - ';
                        }
                        returnMessage += message.reportType + '</span>';
                        return returnMessage;
                    },
                },
                {
                    title: "<strong>Market Participant</strong><br/>Market Participant Code<br/>&nbsp;",
                    titleDownload:"Market Participant",
                    field: "marketParticipant",
                    minWidth: 200,
                    //download: false,
                    accessorParams: {},
                    accessor: arrayAccessor,
                    //frozen:true,
                    headerSort: false,
                    variableHeight: false,
                    headerFilter: "input",
                    headerFilterLiveFilter: false,
                    headerFilterFunc: customHeaderFilter,
                    headerFilterFuncParams: {type: "marketParticipant"},
                    headerVertical: false,
                    //responsive: 0,
                    formatter: function (cell, formatterParams, onRendered) {
                        let message = cell.getValue();
                        let returnMessage = '',
                            i = 0,
                            messageLength = message.length;
                        for (; i < messageLength; i++) {
                            let m = message[i];
                            returnMessage += '<strong>' + m.name + '</strong><br/>' + m.code;
                            if (i !== messageLength - 1) {
                                returnMessage += '<br/>';
                            }
                        }
                        return returnMessage;
                    },
                },
                {
                    title: "<strong>Event Status</strong><br/>&nbsp;<br/>&nbsp;",
                    field: "status",
                    minWidth: 80,
                    download: false,
                    headerSort: false,
                    variableHeight: false,
                    editor: "list",
                    headerFilter: true,
                    headerFilterLiveFilter: false,
                    headerFilterParams:{
                        values: {
                            "active": "Active",
                            "dismissed": "Dismissed",
                            "inactive": "Inactive",
                        },
                        clearable:true,
                    },
                },
                {
                    title: "<strong>Event Start (UTC)</strong><br/>&nbsp;<br/>&nbsp;",
                    field: "from",
                    minWidth: 100,
                    download: false,
                    headerSort: true,
                    variableHeight: false,
                    headerFilter: "input",
                    headerFilterLiveFilter: false,
                    headerVertical: false,
                    //responsive: 0,
                    formatter: function (cell, formatterParams, onRendered) {
                        return formatDate(cell.getValue());
                    },
                },
                {
                    title: "<strong>Event Stop (UTC)</strong><br/>&nbsp;<br/>&nbsp;",
                    field: "to",
                    minWidth: 100,
                    download: false,
                    headerSort: true,
                    variableHeight: false,
                    headerFilter: "input",
                    headerFilterLiveFilter: false,
                    headerVertical: false,
                    //responsive: 0,
                    formatter: function (cell, formatterParams, onRendered) {
                        return formatDate(cell.getValue());
                    },
                },
                {
                    title: "<strong>Duration</strong><br/>&nbsp;<br/>&nbsp;",
                    field: "duration",
                    minWidth: 80,
                    download: false,
                    headerSort: true,
                    variableHeight: false,
                    headerFilter: "input",
                    headerFilterLiveFilter: false,
                    headerVertical: false,
                },
                {
                    title: "<strong>Affected Asset or Unit</strong><br/>Affected Asset or Unit Code<br/>&nbsp;",
                    field: "asset",
                    minWidth: 150,
                    download: false,
                    headerSort: false,
                    variableHeight: false,
                    headerFilter: "input",
                    headerFilterLiveFilter: false,
                    headerFilterFunc: customHeaderFilter,
                    headerFilterFuncParams: {type: "asset"},
                    headerVertical: false,
                    //responsive: 0,
                    formatter: function (cell, formatterParams, onRendered) {
                        let message = cell.getValue();
                        if (message.name === null) return '';
                        let returnString = '<strong>' + message.name + '</strong>';
                        if (message.code !== null) {
                            returnString += '<br/>' + message.code;
                        }
                        return returnString;
                    },
                },
                {
                    title: "<strong>Direction</strong><br/>&nbsp;<br/>&nbsp;",
                    field: "direction",
                    minWidth: 80,
                    download: false,
                    headerSort: false,
                    variableHeight: false,
                    editor: "list",
                    headerFilter: true,
                    headerFilterLiveFilter: false,
                    headerFilterParams:{
                        values: {
                            "entry": "Entry",
                            "exit": "Exit",
                        },
                        clearable:true,
                    },
                    headerVertical: false,
                    //responsive: 0,*/
                },
                {
                    title: "<strong>Unavailable<br/>Capacity</strong>",
                    field: "unavailable",
                    minWidth: 100,
                    download: false,
                    headerSort: false,
                    variableHeight: false,
                    headerFilter: false,
                    headerVertical: false,
                    //responsive: 0,
                    formatter: function (cell, formatterParams, onRendered) {
                        let message = cell.getValue();
                        if (message.capacity === null) return '';
                        return parseFloat(message.capacity).toFixed(0) + ' <span class="text-muted">' + message.unit + '</span>';
                    },
                },
                {
                    title: "<strong>Available<br/>Capacity</strong>",
                    field: "available",
                    minWidth: 100,
                    download: false,
                    headerSort: false,
                    variableHeight: false,
                    headerFilter: false,
                    headerVertical: false,
                    //responsive: 0,
                    formatter: function (cell, formatterParams, onRendered) {
                        let message = cell.getValue();
                        if (message.capacity === null) return '';
                        return parseFloat(message.capacity).toFixed(0) + ' <span class="text-muted">' + message.unit + '</span>';
                    },
                },
                {
                    title: "<strong>Balancing Zone</strong><br/>Balancing Zone Code<br/>&nbsp;",
                    titleDownload: "Balancing Zone",
                    field: "balancingZone",
                    minWidth: 150,
                    //download: false,
                    accessorParams: {},
                    accessor: arrayAccessor,
                    headerSort: false,
                    variableHeight: false,
                    headerFilter: "input",
                    headerFilterLiveFilter: false,
                    headerFilterFunc: customHeaderFilter,
                    headerFilterFuncParams: {type: "balancingZone"},
                    headerVertical: false,
                    //responsive: 0,
                    formatter: function (cell, formatterParams, onRendered) {
                        let message = cell.getValue();
                        let returnMessage = '',
                            i = 0,
                            messageLength = message.length;
                        for (; i < messageLength; i++) {
                            let m = message[i];
                            if (m.name === null) return '';
                            returnMessage += '<strong>' + m.name + '</strong><br/>' + m.code;
                            if (i < messageLength - 1) {
                                returnMessage += '<br/>';
                            }
                        }
                        return returnMessage;
                    },
                },
                {
                    title: "<strong>Publication Date</strong><br/>/Time<br/>&nbsp;",
                    field: "published",
                    minWidth: 100,
                    download: false,
                    headerSort: true,
                    variableHeight: false,
                    headerFilter: "input",
                    headerFilterLiveFilter: false,
                    headerVertical: false,
                    //responsive: 2,
                    formatter: function (cell, formatterParams, onRendered) {
                        return formatDate(cell.getValue());
                    },
                },
                {
                    title: "<strong>Reported by</strong><br/>&nbsp;<br/>&nbsp;",
                    field: "reportingEntity.type",
                    minWidth: 80,
                    download: false,
                    headerSort: false,
                    variableHeight: false,
                    editor: "list",
                    headerFilter: true,
                    headerFilterLiveFilter: false,
                    headerFilterParams:{
                        values: {
                            "sso": "SSO",
                            "lso": "LSO",
                            "tso": "TSO",
                        },
                        clearable:true,
                    },
                    headerVertical: false,
                    //responsive: 2,
                },
            ],
            rowFormatter: function (row) {
                //row - row component
                let data = row.getData();

                //status bar
                if (data.message.reportType === "Gas") {
                    //unavailability of gas facilities
                    row.getElement().classList.add('ugf');
                } else if (data.message.reportType === "Other Market Information") {
                    //other market information
                    row.getElement().classList.add('omi');
                }
                if (data.status === "Active") {
                    //unavailability of gas facilities
                    row.getElement().classList.add('active');
                } else if (data.status === "Inactive") {
                    //other market information
                    row.getElement().classList.add('inactive');
                } else if (data.status === "Dismissed") {
                    //other market information
                    row.getElement().classList.add('dismissed');
                }
            },
        });
        table.on("dataSorted", function(sorters, rows){
            this.redraw();
        });
        table.on('rowClick', function (e, row) {
            //e - the click event object
            //row - row component
            let className = e.composedPath()[0].className,
                children = row.getTreeChildren();
            if (className !== 'more-info' && children.length > 0) {
                row.treeToggle(); //toggle the rows children
                row._row.element.classList.toggle('open')
                let offset = document.documentElement.scrollTop; //row._row.element.offsetTop;
                window.scrollTo(0, offset);
                //table.scrollToRow(row);
            }
        });
        table.on("tableBuilt", function(){
            //set btn selected on create/refresh
            let filters = table.getFilters(),
                fI = 0,
                fLength = filters.length,
                target;
            if (fLength === 0) {
                //none selected > add selected to all btn
                target = document.querySelectorAll("[data-type='0']")[0];
            } else {
                for (; fI < fLength; fI++) {
                    if (filters[fI].field === 'message.reportType') {
                        let typeVal = filters[fI].value,
                            btn = '0';
                        switch (typeVal) {
                            case 'Gas':
                                btn = '2';
                                break;
                            case 'Other Market Information':
                                btn = '3';
                                break;
                            default:
                                btn = '0';
                                break;
                        }
                        target = document.querySelectorAll("[data-type='" + btn + "']")[0];
                        break;
                    }
                }
            }
            let arr = target.className.split(" ");
            if (arr.indexOf('selected') === -1) {
                target.className += " " + 'selected';
            }
        });
    });

    function formatDate(date) {
        let message = date.split(' ');
        return '<strong>' + message[0] + '</strong><br/>' + message[1];
    }
</script>
