
{#if reports.length > 0}
    <div id="dataTable"></div>
{:else}
    <!-- this block renders when reports.length === 0 -->
    <div class="new-update clearfix">
        <i class="fas fa-sync fa-spin"></i>
    </div>
{/if}

<script>
    import {onMount} from "svelte";

    export let reports = [];
    export let table;

    //if(reports.length > 0) {
        table = new Tabulator('#dataTable', {
            ajaxProgressiveLoad:"load",
            ajaxProgressiveLoadDelay:200,
            pagination:"remote", //enable remote pagination
            ajaxURL:"http://testdata.com/data", //set url for ajax request
            ajaxParams:{token:"ABC123"}, //set any standard parameters to pass with the request
            paginationSize:30,

            height: "100%",
            data: reports, //assign data to table
            virtualDomHoz:true,
            resizableColumns: false, // this option takes a boolean value (default = true)
            dataTree: true,
            dataTreeChildField: "prev", //look for the child row data array in the childRows field
            dataTreeChildIndent: 15, //indent child rows by 15 px
            dataTreeCollapseElement: "<i class='fas fa-minus-circle'></i>", //fontawesome toggle icon
            dataTreeExpandElement: "<i class='fas fa-plus-circle'></i>", //fontawesome toggle icon
            dataTreeBranchElement: false, //hide branch element
            columns: [ //Define Table Columns
                {
                    title: "Submitted on (UTC)",
                    field: "submitted",
                    headerSort: true,
                    variableHeight: true,
                    headerFilter: true,
                    headerVertical: false,
                    formatter: function (cell, formatterParams, onRendered) {
                        return cell.getValue().split('_')[0]
                    },
                },
                {
                    title: "Message ID",
                    field: "messageID.id",
                    headerSort: true,
                    variableHeight: true,
                    headerFilter: true,
                    headerVertical: false,
                },
                {
                    title: "Version",
                    field: "messageID.version",
                    headerSort: true,
                    variableHeight: true,
                    headerFilter:"input",
                    headerVertical: false,
                },
                {
                    title: "MP Name",
                    field: "marketParticipant.name",
                    headerSort: true,
                    variableHeight: true,
                    headerFilter:"input",
                    headerVertical: false,
                },
                {
                    title: "MP EIC",
                    field: "marketParticipant.eic",
                    headerSort: true,
                    variableHeight: true,
                    headerFilter:"input",
                    headerVertical: false,
                },
                {
                    title: "Balancing Zone EIC",
                    field: "balancingZone",
                    headerSort: true,
                    variableHeight: true,
                    headerFilter:"input",
                    headerVertical: false,
                },
                {
                    title: "Event Start (UTC)",
                    field: "event.start",
                    headerSort: true,
                    variableHeight: true,
                    headerFilter:"input",
                    headerVertical: false,
                },
                {
                    title: "Event Stop (UTC)",
                    field: "event.stop",
                    headerSort: true,
                    variableHeight: true,
                    headerFilter:"input",
                    headerVertical: false,
                },
                {
                    title: "Event Status",
                    field: "event.status",
                    headerSort: true,
                    variableHeight: true,
                    headerFilter:"input",
                    headerVertical: false,
                },
                {
                    title: "Event Type",
                    field: "event.type",
                    headerSort: true,
                    variableHeight: true,
                    headerFilter:"input",
                    headerVertical: false,
                },
                {
                    title: "Unavailability Type",
                    field: "unavailability.type",
                    headerSort: true,
                    variableHeight: true,
                    headerFilter:"input",
                    headerVertical: false,
                },
                {
                    title: "Unavailability Reason",
                    field: "unavailability.reason",
                    headerSort: true,
                    variableHeight: true,
                    headerFilter:"input",
                    headerVertical: false,
                    formatter:function(cell, formatterParams, onRendered){
                        if(cell.getValue() === undefined) return;
                        //cell - the cell component
                        //formatterParams - parameters set for the column
                        //onRendered - function to call when the formatter has been rendered

                        return "<a tabindex=\"0\" class=\"more-info\" role=\"button\" data-toggle=\"popover\" data-trigger=\"focus\" title=\"Unavailability Reason\" data-content=\"" + cell.getValue() + "\">Unavailability Reason</a>"; //return the contents of the cell;
                    },
                },
                {
                    title: "Unit of Measurement",
                    field: "capacity.unit",
                    headerSort: true,
                    variableHeight: true,
                    headerFilter:"input",
                    headerVertical: false,
                },
                {
                    title: "Unavailable",
                    field: "capacity.unavailable",
                    headerSort: true,
                    variableHeight: true,
                    headerFilter:"input",
                    headerVertical: false,
                },
                {
                    title: "Available",
                    field: "capacity.available",
                    headerSort: true,
                    variableHeight: true,
                    headerFilter:"input",
                    headerVertical: false,
                },
                {
                    title: "Technical",
                    field: "capacity.technical",
                    headerSort: true,
                    variableHeight: true,
                    headerFilter:"input",
                    headerVertical: false,
                },
                {
                    title: "Remarks",
                    field: "remarks",
                    headerSort: true,
                    variableHeight: true,
                    headerFilter:"input",
                    headerVertical: false,
                    formatter:function(cell, formatterParams, onRendered){
                        if(cell.getValue() === undefined) return;
                        //cell - the cell component
                        //formatterParams - parameters set for the column
                        //onRendered - function to call when the formatter has been rendered

                        return "<a tabindex=\"0\" class=\"more-info\" role=\"button\" data-toggle=\"popover\" data-trigger=\"focus\" title=\"Remarks\" data-content=\"" + cell.getValue() + "\">Remarks</a>"; //return the contents of the cell;
                    },
                },
            ],
            rowFormatter: function (row) {
                //row - row component
                let data = row.getData();

                //status bar
                if (data.type === "ugf") {
                    //unavailability of gas facilities
                    row.getElement().classList.add('ugf');
                } else if (data.status === "omi") {
                    //other market information
                    row.getElement().classList.add('omi');
                }
            },
            rowClick: function (e, row) {
                //e - the click event object
                let className = e.composedPath()[0].className;
                if(className !== 'more-info') {
                    //row - row component
                    row.treeToggle(); //toggle the rows children
                    table.scrollToRow(row);
                }
            },
        });

    //}
</script>