
<div class="accordion {reportType}" id="reports{messageID}">
    <div class="card">
        <div class="card-header {extra}" id="heading{messageID}_{messageVersion}">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#report{messageID}_{messageVersion}" aria-expanded="{expanded}" aria-controls="report{messageID}_{messageVersion}">
                {#if mainReport === undefined }
                    {#if reportType === 'ugf'}
                        <i class="fas fa-house-damage" title="Unavailabilities of Gas Facilities"></i>
                    {:else}
                        <i class="fas fa-info-square" title="Other Market Information"></i>
                    {/if}
                    <span class="messageID">{messageID}</span>
                {/if}
                <span class="version">V.{messageVersion}</span>
            </button>
        </div>
        <div id="report{messageID}_{messageVersion}" class="collapse {show}" aria-labelledby="heading{messageID}_{messageVersion}" data-parent="#reports{messageID}">
            <div class="card-body">
                <dl class="row">
                    {#if marketParticipant}
                        <dt class="col-sm-3">Market Participant:</dt>
                        <dd class="col-sm-9">{marketParticipant.name} - {marketParticipant.eic}</dd>
                    {/if}
                    {#if reportType !== 'omi' && balancingZone}
                        <dt class="col-sm-3">Balancing Zone:</dt>
                        <dd class="col-sm-9">{balancingZone}</dd>
                    {/if}
                    {#if reportType !== 'omi' && asset}
                        <dt class="col-sm-3">Asset:</dt>
                        <dd class="col-sm-9">{asset.name} - {asset.eic}</dd>
                    {/if}
                    {#if event}
                        <dt class="col-sm-12">Event:</dt><dd></dd>
                        <dt class="col-sm-2 offset-sm-1">Start:</dt>
                        <dd class="col-sm-9">{moment(event.start).format('YYYY-MM-DD HH:mm')} UTC</dd>
                        <dt class="col-sm-2 offset-sm-1">End:</dt>
                        <dd class="col-sm-9">{moment(event.end).format('YYYY-MM-DD HH:mm')} UTC</dd>
                        <dt class="col-sm-2 offset-sm-1">Status:</dt>
                        <dd class="col-sm-9">{event.status}</dd>
                        {#if reportType !== 'omi' &&  event.type}
                            <dt class="col-sm-2 offset-sm-1">Type:</dt>
                            <dd class="col-sm-9">{event.type}</dd>
                        {/if}
                    {/if}
                    {#if reportType !== 'omi' && capacity}
                        <dt class="col-sm-12">Capacity:</dt><dd></dd>
                        <dt class="col-sm-2 offset-sm-1">Unavailable:</dt>
                        <dd class="col-sm-9">{capacity.unavailable}{capacity.unit}</dd>
                        <dt class="col-sm-2 offset-sm-1">Available:</dt>
                        <dd class="col-sm-9">{capacity.available}{capacity.unit}</dd>
                        <dt class="col-sm-2 offset-sm-1">Technical:</dt>
                        <dd class="col-sm-9">{capacity.technical}{capacity.unit}</dd>
                    {/if}
                    {#if reportType !== 'omi' && unavailability}
                        <dt class="col-sm-12">Unavailability:</dt><dd></dd>
                        <dt class="col-sm-2 offset-sm-1">Type:</dt>
                        <dd class="col-sm-9">{unavailability.type}</dd>
                        <dt class="col-sm-2 offset-sm-1">Reason:</dt>
                        <dd class="col-sm-9">{unavailability.reason}</dd>
                    {/if}
                    <dt class="col-sm-3">Remarks:</dt>
                    <dd class="col-sm-9">{remarks}</dd>
                </dl>
            </div>
            <div class="card-footer row">
                <div class="col-sm-6">
                    Submitted by: {reportingEntity.name} - {reportingEntity.eic}
                </div>
                <div class="col-sm-6 text-right">
                    Submitted on: {submitted}
                </div>
            </div>
        </div>
    </div>
    {#if subReports }
        {#each subReports as subReport}
            <Report report={subReport} mainReport={report} subReports={undefined} show="hide"/>
        {/each}
    {/if}
</div>

<script>
    export let report;
    export let mainReport;
    export let subReports;
    export let show;
    import Report from "../components/Report.svelte";
    import moment from "moment";

    let expanded = (show === 'show');
    console.log(report);
    let extra = (report.new) ? 'bg-info' : '',
            reportType = report.type,
            messageID = (mainReport !== undefined) ? mainReport.messageID.id : report.messageID.id,
            messageVersion = report.messageID.version,
            submitted = moment(report.submitted).format('YYYY-MM-DD HH:mm:ss'),
            reportingEntity = (mainReport !== undefined) ? mainReport.reportingEntity : report.reportingEntity,
            marketParticipant = (mainReport !== undefined) ? mainReport.marketParticipant : report.marketParticipant,
            balancingZone = (mainReport !== undefined) ? mainReport.balancingZone : report.balancingZone,
            asset = (mainReport !== undefined) ? mainReport.asset : report.asset,
            event = report.event,
            capacity = report.capacity,
            unavailability = report.unavailability,
            remarks = report.remarks
    ;
</script>