
<div class="card" id="{sa.url}">
    <div class="card-header">
        <span class="messageID">{sa.title}</span>
        <span class="version">{moment(sa.start_at).format('YYYY-MM-DD')}
            {#if sa.end_at}
                - {moment(sa.end_at).format('YYYY-MM-DD')}
            {/if}
        </span>
    </div>
    <div class="card-body">
        <span class="text-muted">{@html sa.summary}</span>
        {@html sa.details}
    </div>
</div>

<script>
    export let sa;
    import moment from "moment";
</script>