<div class="col-4">
    <div class="input-group input-group-sm">
        <div class="input-group-text {select.code}">
            {#if select.checked}
                <input type="radio" id="{select.code}" name="{select.id}" value="{select.code}" aria-label="{select.text}" on:click={handleChange} checked/>
            {:else}
                <input type="radio" id="{select.code}" name="{select.id}" value="{select.code}" aria-label="{select.text}" on:click={handleChange}/>
            {/if}
        </div>
        <label for="{select.code}" class="form-control">{select.text}</label>
    </div>
</div>

<script>
    export let select;
    import { createEventDispatcher } from 'svelte';

    const dispatch = createEventDispatcher();

    function handleChange(event) {
        let target = jQuery( event.target );
        let name = jQuery(target[0]).attr('name'),
            val = jQuery(target[0]).val();
        dispatch('handleChange', {
            name: name,
            value: val,
        });
    }

</script>