@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Open+Sans&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css");

$orange: rgb(255, 165, 0);
$green: rgb(86, 179, 52);
$grey: rgb(188, 190, 192);
$light-grey: rgb(224, 224, 232);
$gie-blue: rgb(35, 156, 198);
$primary: rgba(45, 65, 113, 1);
$red: rgb(171, 45, 45);
$blue: rgb(0, 0174, 239);
$special: 'Open Sans', Arial, Helvetica, cursive;
$regular: 'Roboto', Arial, Helvetica, sans-serif;
$code: menlo, inconsolata, monospace;
* {
  //border: 1px solid #f00 !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: $regular;
  font-size: 12px;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $special;
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a, a:hover {
  color: $gie-blue;
}

code {
  font-family: $code;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}


div {
  &.container-fluid {
    margin: 0;
    padding: 0;
    .row {
      margin: 0;
    }
  }
}

.logo {
  height: 100%;
  max-height: 90px;
  margin: 3px 0 0 0;
  padding: 0;
}
.carousel {
  width: 728px;
  float: right;
}
#loading {
  position: absolute;
  z-index: 100;
  left: 0;
  height: 50%;
  width: 100%;
  padding: 5%;
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

nav {
  font-weight: 400;
  //height: 55px;
  vertical-align: bottom;

  ul {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    float: left;

    &.float-right {
      float: right;
      font-size: .8em;
      padding-top: 9px;
    }

    li {
      display: block;
      float: left;
      vertical-align: bottom;

      a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        padding: .5em 1em;
        display: block;
        text-transform: uppercase;
        font-weight: 400;

        &.selected {
          color: #b3b3b3;
        }
      }

      &:first-of-type a {
        padding-left: 0;
      }
    }
  }
}

/* clearfix */
nav:after, ul::after {
  content: '';
  display: block;
  clear: both;
}

.circular {
  width: 120px;
  height: 120px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: 5px solid #e7e7e8;
  //background: url('../img/main.jpg') center no-repeat;
  background-size: 130px 130px;
  z-index: 777;
  position: absolute;
  top: 7px;
  right: 260px;
}

@media screen and (max-width: 1354px) {
  .circular {
    display: none;
  }
}

.cover-image {
  //background: url('../img/bg.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 40px 0 0;
}

.cover-image, footer {
  width: 100%;
  height: 30px;
}

.new-update {
  width: 100%;
  text-align: center;
  padding: 25px 0 10px 0;
  font-size: 2em;
}

main {
  position: relative;
  max-width: 100%;
  background-color: white;
  padding: 0 1em 1em;
  margin: 0 auto;
  box-sizing: border-box;
}
footer {
  font-size: .9em;
  position: absolute;
  bottom: 0;
  background-color: #929292;
  clear: both;
  a, a:focus, a:hover {
    color: #FFF
  }

  &.no-sticky {
    position: inherit;
  }
  ul {
    margin: 0;
    list-style: none;
    li {
      float: left;
      border-right: 2px solid #fff;
      padding-left: 8px;
      padding-right: 8px;
      color: #fff;
      line-height: 30px;
      &:first-child {
        margin-left: -15px;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
}

.right {
  float: right;
}

.header {
  background-color: $light-grey;
  font-size: 1.3em;
  height: 37px;
  line-height: 35px;
  border-bottom: 1px solid #c4c4d2;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  position: relative;

  .website-btn {
    text-align: center;
    margin: 0 15px;
    position: absolute;
    left: 0;
    .btn-primary {
      background-color: $gie-blue !important;
      border-color: $gie-blue !important;
      cursor: initial;
    }
  }

  .title {
    text-align: left;
    margin: 0 15px;
    position: absolute;
    left: 45%;
  }

  .announcement {
    text-transform: none;
    padding: .25em .5em;
    background-color: $gie-blue;
    color: #ffffff;
    font-size: .85em;
    line-height: 2em;
    border-bottom: 1px solid darken($gie-blue, 10%);
    margin: 0;
    display: block;
    height: 2.26em;
    position: absolute;
    right: 0;
    text-align: center;

    .svg-inline--fa {
      margin: 0 0 -5px 0;
      padding: 0;
      height: .9em;
    }
  }
}

.subheader {
  background: rgba($gie-blue, .1);
  height: 25px;
  line-height: 25px;
  border-bottom: 1px solid $gie-blue;
  color: darken($gie-blue, 20%);
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  position: relative;

  .announcement {
    text-transform: none;
    padding: .25em .5em;
    font-size: .85em;
    line-height: 1.2em;
    margin: 0;
  }
}

.square {
  width: 10px;
  height: 10px;
  display: inline-block;

  &.square-confirmed {
    background: $green;
  }

  &.square-estimated {
    background: $orange;
  }

  &.square-no-data {
    background: $grey;
  }
}

.show-xs {
  display: none;
}

.tabulator {
  clear: both;
  font-size: .85em;
  border-radius: 0;

  .tabulator-header {
    font-weight: normal;
    background: #FFFFFF;

    .tabulator-col {
      &:last-of-type {
        width: 110px !important;
      }
      .tabulator-header-filter {
      }
      .tabulator-col-content {
        .tabulator-col-title {
          small {
            display: block;
            color: $red;
            font-size: .9em;
          }
        }
      }
    }
  }

  .tabulator-table {
    .tabulator-row {
      &:hover {
        background-color: #bbb!important;
      }

      &.tabulator-row-odd {
        background: #eeeeee;
      }
      &.tabulator-row-even {
        background: #FFFFFF;
      }

      &.ugf, &.omi {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }
      &.ugf {
        &.open, &.tabulator-tree-level-1 {
          background: rgba($orange, .1);
        }
      }
      &.tabulator-tree-level-1 {
        border-bottom-color: #424242;
      }

      &.omi {
        &.open, &.tabulator-tree-level-1 {
          background: rgba($gie-blue, .1);
        }
      }

      &.active {
        > div[tabulator-field="message"] {
          border-left: solid $red 8px;
        }
      }
      &.inactive {
        > div[tabulator-field="message"] {
          border-left: solid $gie-blue 8px;
        }
      }
      &.dismissed {
        > div[tabulator-field="message"] {
          border-left: solid $grey 8px;
        }
      }

      .tabulator-cell {
        white-space: normal;
        &:last-of-type {
          width: 110px !important;
        }

        .tabulator-data-tree-branch {
          border-color: darken($grey, 50%);
        }

        a {
          color: $gie-blue;
          display: block;
          float: right;
          width: 90%;
          .right {
            position: absolute;
            right: 0;
          }
          &:hover {
            color: $gie-blue;
          }
        }
        .svg-inline--fa {
          margin-right: 5px;
        }

        .fas.fa-info-circle {
          font-size: 1.4em;
          color: $orange;
          margin: 5px 10px 5px 0;
        }

        a.button {
          font-size: .95em;
          font-weight: normal;
          color: rgb(51, 51, 51);
          text-decoration: none;
          background: rgb(255, 255, 255);
          margin: 0;
          padding: 2px 4px;
          border-radius: 0 5px 5px 0;
          border: 1px solid darken(rgb(255, 255, 255), 5);

          &:first-of-type {
            border-radius: 5px 0 0 5px;
            color: rgb(255, 255, 255);
            background: $gie-blue;
            border: 1px solid darken($gie-blue, 5);
          }

          display: inline-block;

          &:hover {
            background: darken(rgb(255, 255, 255), 5);

            &:first-of-type {
              background: darken($gie-blue, 5);
            }
          }
        }

        &:first-of-type {
          i.fas {
            padding-right: 5px;
          }
        }
      }
    }
  }
}

span {
  &.ugf, &.omi {
    margin: 5px 0 5px 15px;
    display: inline-block;
  }
  &.version {
    display: inline-block;
    float: right;
    font-weight: bold;
    font-family: $special;
  }
}

.btn-group.display-btn {
  width: 100%;
  margin: 0 0 15px 0;
}

.filter-listing {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 5px 0;

    .btn {
      display: block;
      width: 100%;
      text-align: center;
      padding: 5px 15px;

      span {
        display: inline-block;
        padding: 0 0 0 5px;
        width: 90%;
        text-align: right;
        float: right;

        strong {
          float: left;
        }
      }
    }
  }
}


.card-header {
  font-weight: bold;
  font-family: $special;
  padding: .53rem 1.25rem;
  .icon {
    display: inline-block;
    float: right;
  }
  span {
    &.icon.fa-layers {
      border: 0;
      float: right;
      opacity: 1;
      font-size: 1.2em;
      .fa-layers-counter {
        background-color: Tomato;
        font-size: 2.5em;
      }
    }
  }
}

.accordion {
  .card-header {
    padding: 0;
  }
  .card-footer {
    font-size: smaller;
  }

  .btn {
    &:focus {
      box-shadow: none;
    }
    &[aria-expanded="false"]{
      color: darkgray;
    }
  }
}

.toasts {
  bottom: 0!important;
  top: auto!important;
  .toast {
    opacity: 1;
  }
}

.bg-info {
  .btn {
    color: #ffffff;
  }
}

#detail {
  a.btn.btn-xs {
    line-height: 1.7em;
  }
  .left {
    width: 25%;
    min-width: 370px;
  }
  .right {
    width: 75%;
    .btn {
      max-width: 100px;
      float: right;
    }
  }
  .card {
    .right {
      width: auto;
    }
  }
}
.table-controls {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 30px;

  .btn {
    font-family: $special;
    text-transform: none;
    padding: 0.25em 0.6em;
    background-color: $gie-blue;
    color: #ffffff;
    font-size: 0.85em;
    line-height: 1.2em;
    margin: 0;
    height: 2.26em;
    border: 0;
    border-bottom: 1px solid darken($gie-blue, 10%);
    display: inline-block;
    border-radius: 0;

    &:hover, &.selected {
      background-color: $light-grey;
      color: $gie-blue;
      border-bottom: 1px solid darken($light-grey, 10%);
    }
  }

  .left {
    width: 50%;

    .btn {
      float: left;
      width: 33%;
    }
  }

  .right {
    width: 236px;

    .btn {
      float: left;
      width: 33%;
    }
  }

  &:after, &:before {
    clear: both;
  }
}

dt {
  &.detail {
    text-align: right;
  }
}

.card {
  clear: both;
  margin: 15px 0;
}

@media screen and (max-width: 1189px) {
  .header {
    height: auto;
    min-height: 35px;
    .announcement {

    }
  }
  .logo,
  .announcement {
    display: block;
    float: none;
    height: auto;
    clear: both;
  }
  nav {
    height: auto;
    ul, ul.nav-right {
      margin: 0;
      padding: 0;
      display: block;
      //float: none;
      height: auto;
      //clear: both;

      li {
        a{
          padding-top: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .table-controls {
    .left, .right {
      width: 100%;
    }
  }
}
@media screen and (max-width: 600px) {
  #detail {
    .table-controls {
      a.btn.btn-xs {
        line-height: 2em;
      }

      .left {
        width: 100%;
        min-width: auto;
        display: block;
        clear: both;

        .btn {
          width: 100%;
        }
      }

      .right {
        width: 100%;
        display: block;
        clear: both;

        .btn {
          max-width: 100%;
          float: left;
        }
      }
    }
  }

  .table-controls {
    .right {
      float: none;
    }
  }

  .logo {
    width: 90%;
  }
  .header {
    min-height: 70px;
    .announcement {
      display: block;
      position: relative;
      width: 100%;
    }
  }
  footer.no-sticky {
    height: auto;
    li, li.right {
      float: none;
      border: none;
      &.hide-xs {
        display: none;
      }
      &.show-xs {
        display: block;
      }
    }
  }
}
@media screen and (max-width: 423px) { // 357px) {
  .header {
    font-size: 1em;
  }
  .table-controls {
    .left {
      .btn {
        width: 100%;
      }
    }
  }
}

#about {
  .card {
    .company_type {
      font-weight: bold;
      font-size: 1em;
    }

    .country {
      background: rgba($gie-blue, .1);
      display: block;
      height: 25px;
      line-height: 25px;
      border-bottom: 1px solid $gie-blue;
      color: $gie-blue;
      padding: 2px 10px;
      margin: -1.25rem -1.25rem 20px -1.25rem;
      text-transform: uppercase;

      &:not(:first-of-type) {
        margin-top: 20px;
      }
    }

    table {
      width: 100%;

      thead {
        th {
          vertical-align: middle;

          &:nth-of-type(1) {
            width: 20%;
          }

          &:nth-of-type(2) {
            width: 40%;
          }

          &:nth-of-type(3) {
            width: 40%;
          }
        }
      }

      tbody {
        tr {
          td {
            vertical-align: middle;

            img {
              padding: 5px 0;
            }
          }

          &:not(:last-of-type) {
            td {
              border-bottom: 1px solid $light-grey;
            }
          }
        }
      }
    }
  }
}

.legend {
  display: block;
  font-family: $special;
  font-size: 0.85em;

  div {
    display: inline-block;
    border-left-style: solid;
    border-left-width: 8px;
    padding: 0 5px;
  }

  .active {
    border-left: solid $red 8px;
  }

  .inactive {
    border-left: solid $gie-blue 8px;
  }

  .dismissed {
    border-left: solid $grey 8px;
  }
}


.card {
  clear: both;
  margin: 15px 0
}

.text-primary {
  color: #2d4171!important
}

.border-primary {
  border-color: #2d4171!important
}

.bg-primary,.btn-primary,.form-check-input:checked {
  background-color: #2d4171!important;
  border-color: #2d4171!important
}

.btn-light {
  border-color: #2d4171
}


main#login,
main#account {
  .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    padding-bottom: 15px;
    .form-control, .input-group-addon, .input-group-btn {
      display: table-cell;
    }
    .form-control {
      position: relative;
      z-index: 2;
      float: left;
      width: 100%;
      margin-bottom: 0;
      border-width: 0 0 1px 0;
    }

    span {
      white-space: nowrap;
      vertical-align: middle;
      display: table-cell;
      padding: 0.375rem 0.75rem;
      width: 10%;
      text-align: center;
      border-radius: 5px 0 0 15px;
      color: #555;
      background-color: #eee;
      border: 1px solid #ccc;

      &.required {
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;

        ~ .form-control {
          color: #856404;
          border-color: #ffeeba;

          &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgba(133, 100, 4, 0.7);
            opacity: 1; /* Firefox */
          }

          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: rgba(133, 100, 4, 0.7);
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
            color: rgba(133, 100, 4, 0.7);
          }
        }
      }
    }
  }
}

#register {
  input[type="checkbox"] {
    margin-right: 5px;
  }
}

main:not(#unavailability):not(#account):not(#news) .row p {
  padding: 0;
  margin: 0;
}

dl dl {
  margin-left: 15px;
}