{% extends 'base.html.twig' %}

{% block title %}Page Not Found - {% endblock %}
{% block pageTitle %}404 ~ Page Not Found{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>Page not found</h1>
            <p>The <strong>{{ page }}</strong> you are looking for could not be found.</p>
        </div>
    </div>
{% endblock %}