{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

<!doctype html>
<html lang='en'>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-9DD4NJVTW7"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-9DD4NJVTW7');
        </script>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width,initial-scale=1.0'>
        <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" rel="stylesheet" crossorigin="anonymous">
        <link href="https://unpkg.com/tabulator-tables@4.9.1/dist/css/tabulator.min.css" rel="stylesheet"-->
        <title>{% block title %}{% endblock %}IIP Gas Infrastructure Europe</title>
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('app') }}
        <link rel="apple-touch-icon" sizes="180x180" href="{{asset('build/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{asset('build/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{asset('build/favicon-16x16.png')}}">
        <link rel="manifest" href="{{asset('build/site.webmanifest')}}">
        <link rel="mask-icon" href="{{asset('build/safari-pinned-tab.svg')}}" color="#239cc6">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <main id="{{ svelteId }}" data-url="{{ path('api') }}" {% if params is not null %} data-params="{{ params }}"{% endif %}>
            {{ include ('nav.html.twig') }}
            <div class="header">
                {% if svelteId is same as('main') %}
                <span class="announcement">
                    <strong><span id="loadedOn"></span></strong>&nbsp;&nbsp;<i class="fad fa-history fa-2x fa-flip-horizontal" title="Loaded on"></i>
                </span>
                {% endif %}
                <span class="btn-group-sm website-btn">
                    <a href="https://agsi.gie.eu" class="btn btn-secondary">AGSI Storage Inventory</a>
                    <a href="https://alsi.gie.eu" class="btn btn-secondary">ALSI LNG Inventory</a>
                    <span class="btn btn-primary">UMM Inside Information</span>
                </span>
                <span class="title">
                    {% set _block = block ('pageTitle') %}
                    {% if _block is not empty %}
                        {{ _block|raw }}
                    {% else %}
                        REMIT Urgent Market Messages
                    {% endif %}
                </span>
            </div>

            {% if svelteId is same as('main') %}
                <div class="subheader">
                    <span class="announcement" id="sa_slide"></span>
                    <span class="announcement">> <a href="/news">Read more news here</a></span>
                </div>
            {% endif %}
            {#% if svelteId is same as('main') %}
            <div class="header">
                <div class="btn-group" role="group" aria-label="Table filters">
                    <button id="type-2" type="button" class="btn btn-secondary">Gas</button>
                    <button id="type-3" type="button" class="btn btn-secondary">Other Market Information</button>
                </div>
                <div class="btn-group" role="group" aria-label="Table filters">
                    <button id="planned" type="button" class="btn btn-secondary">Event: planned</button>
                    <button id="unplanned" type="button" class="btn btn-secondary">Event: unplanned</button>
                </div>
            </div>
            {% endif %#}
            {% block body %}{% endblock %}
        </main>

        <footer class="no-sticky">
            <ul>
                <li class="right hide-xs"><a href="http://jaic.be" target="_blank"><small>Powered by JAIC</small></a></li>
                <li class="hide-xs">&copy; GIE AISBL 2020</li>
                {#
                <li><a href="{{ path('disclaimer') }}">Disclaimer</a></li>
                <li><a href="{{ path('privacy-policy') }}">Privacy policy</a></li>
                #}
                <li><a href="https://www.gie.eu/index.php/contact-us" target="_blank">Contact</a></li>
                <li class="show-xs">
                    <a href="http://jaic.be" target="_blank" style="float: right"><small>Powered by JAIC</small></a>
                    &copy; GIE AISBL 2016
                </li>
            </ul>
        </footer>

        <div id="tooltip-screen" style="display: none;"></div>

        <script src="https://kit.fontawesome.com/3d888677a5.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        {% block javascripts_first %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
        <script>
            $('.dropdown-toggle').hover(function(){
                $(this).dropdown('show');
            });
            $('body').on('click', '#close_dropdown', function() {
                $('.dropdown-toggle').dropdown('hide');
            }).on('mouseleave', '.dropdown-menu.show', function () {
                $(this).dropdown('hide');
            });
        </script>
    </body>
</html>
