{% extends 'base.html.twig' %}

{% block title %}Data Definition - {% endblock %}
{% block pageTitle %}Data Definition{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            Coming soon
        </div>
    </div>
{% endblock %}