{% extends 'base.html.twig' %}

{% block title %}{{ messageId }} detail - {% endblock %}
{% block pageTitle %}UMM detail - {{ messageId }}{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    {% set width = 100/total %}
    <div class="row">
        <div class="col-12">
            <div class="table-controls">
                <div class="left">
                    <a href=" {{ path('home') }}" class="btn btn-xs"><i class="fas fa-arrow-alt-left"></i> Back to listing</a>
                </div>
                <div class="right">
                    {% if message.prev is defined %}
                        {% for subMessage in message.prev %}
                            <a href=" {{ path('details', {'messageId': subMessage.message.messageId}) }}" class="btn btn-xs" style="width: {{ width }}%;">
                                V.{{ subMessage.message.messageId|split('_')[1] }}
                            </a>
                        {% endfor %}
                    {% endif %}
                    <a href=" {{ path('details', {'messageId': message.message.messageId}) }}" class="btn btn-xs selected" style="width: {{ width }}%;">
                        V.{{ message.message.messageId|split('_')[1] }}
                    </a>
                    {% if message.next is defined %}
                        {% for subMessage in message.next %}
                            <a href=" {{ path('details', {'messageId': subMessage.message.messageId}) }}" class="btn btn-xs" style="width: {{ width }}%;">
                                V.{{ subMessage.message.messageId|split('_')[1] }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {{ include ('details.html.twig', { 'report' : message }) }}
        </div>
    </div>
{% endblock %}