<div class="card">
    <div class="card-body">
        <div class="right">
            <a href="{{ path('download_xml', {'messageId': report.message.messageId}) }}">
                <i class="fas fa-download"></i> Download XML
            </a>
        </div>
        <!--
        <h5 class="card-title">
            {{ report.message.messageId }}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            Submitted on (UTC): {{ report.submitted }}
        </h6>
        -->
        {% set dt = '2' %}
        {% set dd = '10' %}
        <dl class="row">
            <dt class="col-sm-{{ dt }}">Message ID:</dt>
            <dd class="col-sm-{{ dd }}">
                <strong>
                    {{ report.message.messageId }}
                </strong>
            </dd>
            <dt class="col-sm-{{ dt }}">Publication Date/Time:</dt>
            <dd class="col-sm-{{ dd }}">
                {{ report.published|format('YYYY-MM-DD HH:mm')}} UTC
            </dd>
            <dt class="col-sm-12">&nbsp;</dt><dd></dd>
            {% for marketParticipant in report.marketParticipant %}
                <dt class="col-sm-{{ dt }}">Market Participant:</dt>
                <dd class="col-sm-{{ dd }}">
                    {{ marketParticipant.name}}
                </dd>
                <dt class="col-sm-{{ dt }}">Market Participant Code:</dt>
                <dd class="col-sm-{{ dd }}">
                    {{ marketParticipant.code}}
                </dd>
            {% endfor %}
            {% if report.message.reportType is same as('Gas') %}
                <dt class="col-sm-12">&nbsp;</dt><dd></dd>
                {% for balancingZone in report.balancingZone %}
                    <dt class="col-sm-{{ dt }}">Balancing Zone:</dt>
                    <dd class="col-sm-{{ dd }}">
                        {{ balancingZone.name}}
                    </dd>
                    <dt class="col-sm-{{ dt }}">Balancing Zone Code:</dt>
                    <dd class="col-sm-{{ dd }}">
                        {{ balancingZone.code}}
                    </dd>
                {% endfor %}
            {% endif %}
            {% if report.message.reportType is same as('Gas') %}
                <dt class="col-sm-12">&nbsp;</dt><dd></dd>
                <dt class="col-sm-{{ dt }}">Affected Asset or Unit:</dt>
                <dd class="col-sm-{{ dd }}">
                    {{ report.asset.name}}<br/>
                </dd>
                <dt class="col-sm-{{ dt }}">Affected Asset or Unit Code:</dt>
                <dd class="col-sm-{{ dd }}">
                    {% if report.asset.code|length > 0 %}{{ report.asset.code}}{% endif %}<br/>
                </dd>
            {% endif %}
                <dt class="col-sm-12">&nbsp;</dt><dd></dd>
                <dt class="col-sm-{{ dt }}">Event Start:</dt>
                <dd class="col-sm-{{ dd }}">{{ report.from|format('YYYY-MM-DD HH:mm')}} UTC</dd>
                <dt class="col-sm-{{ dt }}">Event Stop:</dt>
                <dd class="col-sm-{{ dd }}">{{ report.to|format('YYYY-MM-DD HH:mm')}} UTC</dd>
                <dt class="col-sm-{{ dt }}">Event Status:</dt>
                <dd class="col-sm-{{ dd }}">{{ report.status}}</dd>
            {% if report.message.reportType is same as('Gas') %}
                <dt class="col-sm-{{ dt }}">Type of Event:</dt>
                <dd class="col-sm-{{ dd }}">{{ report.message.messageType}}</dd>
            {% endif %}
            {% if report.message.reportType is same as ('Gas') %}
                <dt class="col-sm-12">&nbsp;</dt><dd></dd>
                <dt class="col-sm-{{ dt }}">Direction:</dt>
                <dd class="col-sm-{{ dd }}">{{ report.direction}}</dd>
                <dt class="col-sm-{{ dt }}">Unavailable Capacity:</dt>
                <dd class="col-sm-{{ dd }}">{{ report.unavailable.capacity}} {{ report.unavailable.unit}}</dd>
                <dt class="col-sm-{{ dt }}">Available Capacity:</dt>
                <dd class="col-sm-{{ dd }}">{{ report.available.capacity}} {{ report.available.unit}}</dd>
                <dt class="col-sm-{{ dt }}">Technical Capacity:</dt>
                <dd class="col-sm-{{ dd }}">{{ message.technical.capacity }} {{ report.technical.unit}}</dd>
            {% endif %}
            {% if report.message.reportType is same as ('Gas') %}
                <dt class="col-sm-12">&nbsp;</dt><dd></dd>
                <dt class="col-sm-{{ dt }}">Type of Unavailability:</dt>
                <dd class="col-sm-{{ dd }}">{{ report.message.unavailabilityType}}</dd>
                <dt class="col-sm-{{ dt }}">Reason for the Unavailability:</dt>
                <dd class="col-sm-{{ dd }}">{{ report.unavailabilityReason|nl2br}}</dd>
            {% endif %}
            <dt class="col-sm-12">&nbsp;</dt><dd></dd>
            <dt class="col-sm-{{ dt }}">Remarks:</dt>
            <dd class="col-sm-{{ dd }}">{{ report.remarks|nl2br}}</dd>
        </dl>
    </div>
    {% if footer is not defined or footer == true %}
    <div class="card-footer">
        Reported by: [{{ report.reportingEntity.type}}] <strong>{{ report.reportingEntity.name}}</strong>
    </div>
    {% endif %}
</div>
{% if report.prev is defined %}
    {% for subMessage in report.prev %}
        {{ include ('details.html.twig', { 'report' : subMessage, 'footer' : false }) }}
    {% endfor %}
{% endif %}