{% extends 'base.html.twig' %}

{% block title %}API Login - {% endblock %}
{% block pageTitle %}API Login{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="row" style="margin: 20px 0;">
        <div class="col-md-6">
            <p>GIE is providing an <strong>API (Application Programming Interface)</strong> service on its IIP publication platforms.</p>
            <p>Using API access, the audience can bypass the IIP website and get hold of the data directly and continuously. It enables to extract, filter the data and create any subset as required, without having to download each dataset separately from the website. The API export format is JSON.</p>
            <p>The API service is made available to the public <strong>free of charge</strong>. ONLY the data as currently available on the platforms is made available (subset of data provided under REMIT).</p>
        </div>
        <div class="col-md-6">
            <p><strong>Registration is mandatory</strong> to be able to use the API. Registration will result in a personal API key that is required within the API request. The only purpose of this registration is to enable us to assess and improve the performance of our systems where and if required (user count, user activity, most popular dataset types). If you would like to be kept up-to-date on any changes on the IIP platform, you can also opt to <strong>subscribe to our API mailing list</strong> in the registration form.</p>
            <p>The <strong>API documentation</strong> provides examples and guidance on how to use the service and is available after registration.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3 alert alert-info text-center">
            <h4 class="alert-heading">API data usage</h4>
            <p>All data published on IIP can be used or repackaged in any way you see fit but a clear indication on GIE as data source is mandatory. A mention of GIE, IIP as data source is a minimum requirement.</p>
            <p><em>Example :</em> indicate GIE (Gas Infrastructure Europe) or GIE IIP platform as data source underneath the data or insert (IIP/GIE) in the name of your datafeed / data ticker.</p>
            <hr/>
            <p><strong>If no credit or source is mentioned, GIE can disable / de-activate your API access key</strong></p>
        </div>
    </div>
{% endblock %}