
<div class="row">
    <div class="col-12 col-lg-6">
        <a href='{{ path('home') }}'><img src="{{asset('build/img/logo_d.png')}}" alt="logo" class="logo"></a>
    </div>
    <div class="col-12 col-lg-6 text-right">
        <div class="carousel">
            <div>
                <a href="https://www.gie.eu/conference" target="_blank">
                    <img src="{{asset('build/img/bannerAGSI-GC2025.jpg')}}" style="width: 728px; height: 90px;" alt="GIE 2025 Conference banner" width="728" height="90">
                </a>
            </div>
            <div>
                <a href="https://www.gie.eu/transparency/databases/" target="_blank">
                    <img src="{{asset('build/img/GIE_Databases_Leaderboard_728x90.png')}}" style="width: 728px; height: 90px;" alt="banner" width="728" height="90">
                </a>
            </div>
            <div>
                <a href="https://www.gie.eu/publications/maps/" target="_blank">
                    <img src="{{asset('build/img/GIE_Maps_Leaderboard_728x90.png')}}" style="width: 728px; height: 90px;" alt="banner" width="728" height="90">
                </a>
            </div>
        </div>
    </div>
</div>
<nav class="row">
    <div class="col-12 col-lg-8">
        <ul>
            <li><a class="{% if currentPath is same as('/') %}selected{% endif %}" href="{{ path('home') }}">UMM</a></li>
            <li><a class="{% if 'news' in currentPath %}selected{% endif %}" href="{{ path('news') }}">News</a></li>
            <li><a class="{% if 'data-definition' in currentPath %}selected{% endif %}" href="{{ path('data-definition') }}">Data Definition</a></li>
            <li><a class="{% if 'transparency' in currentPath %}selected{% endif %}" href="{{ path('transparency') }}">Transparency</a></li>
        </ul>
    </div>
    <div class="col-12 col-lg-4">
        <ul class="float-right right">
            <li><a class="{% if 'subscribe' in currentPath %}selected{% endif %}" href="{{ path('subscribe') }}"><i class="fas fa-envelope"></i> Subscribe</a></li>
            <li><a class="{% if 'account' in currentPath %}selected{% endif %}" href="{{ path('account') }}"><i class="fas fa-arrow-down-from-dotted-line"></i> API</a></li>
            <li><a href="{{ path('feed_rss') }}" target="_blank"><i class="fas fa-rss"></i> RSS</a></li>
            <li><a href="{{ path('feed_atom') }}" target="_blank"><i class="far fa-atom-alt"></i> ATOM</a></li>
            <li><a href="{{ path('feed_json') }}" target="_blank"><i class="fal fa-file-code"></i> JSON</a></li>
        </ul>
    </div>
</nav>