{% extends 'base.html.twig' %}

{% block title %}Subscribe - {% endblock %}
{% block pageTitle %}Subscribe{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <script type="text/javascript" src="https://gie.formstack.com/forms/js.php/transparency_platform"></script>
            <noscript><a href="https://gie.formstack.com/forms/transparency_platform" title="Online Form">Online Form - Transparency Platform</a></noscript>
        </div>
    </div>
{% endblock %}