{% extends 'base.html.twig' %}

{% block title %}Transparency - {% endblock %}
{% block pageTitle %}Transparency{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
{% endblock %}